@model FCoreApp.Models.News

@{
    ViewData["Title"] = "Create";
}

<div class="container">

    <h1 class="text-info text-center py-3">Create a new News</h1>

    <hr />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input name="Image" type="file" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Topic" class="control-label"></label>
                    <textarea asp-for="Topic" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Topic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="text-center py-3">
                    <input type="submit" value="Create" class="btn btn-primary" />  |  
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>


            <div>
            </div>
        </div>
    </div>
</div>

@*@section UpHeader{ 
    <h1 class="btn-danger text-center">Welcome</h1> 
}*@